[Unit]
Description=Keylime Verifier Service (Podman)
After=network-online.target keylime_registrar.service
Wants=network-online.target keylime_registrar.service
Requires=keylime_registrar.service

[Container]
# ContainerName=keylime_verifier
# Image={{ keylime_verifier_image }}   # e.g. "quay.io/keylime/verifier:latest"
Image=quay.io/keylime/keylime_verifier:latest
#Image=registry.access.redhat.com/rhel9/keylime_verifier:latest
ContainerName=keylime_verifier
PublishPort=8881:8881                # expose verifier's port 8881 on host
Environment=TPM2TOOLS_TCTI=device:/dev/tpmrm0

Environment=KEYLIME_VERIFIER_SERVER_KEY_PASSWORD={{ keylime_tls_passphrase | default("CHANGEME") }}
Environment=KEYLIME_VERIFIER_CLIENT_KEY_PASSWORD={{ keylime_tls_passphrase | default("CHANGEME") }}


# Mount volume for persistent keylime data (if using a podman volume)
# Make sure it's defined separately as a keylime-data.volume unit or create it via podman
Volume=keylime-data.volume:/var/lib/keylime

# Mount registrar config
Volume=/etc/keylime/registrar.conf.d:/etc/keylime/registrar.conf.d:Z

# Mount certificate/CA directory
Volume=/var/lib/keylime/cv_ca:/var/lib/keylime/cv_ca:Z

# Mount volume for Keylime data (certificates, DB)
Volume=keylime-data.volume:/var/lib/keylime


# Mount shared Keylime data volume (to access registrar DB, CA, etc.)
Volume=keylime-data.volume:/var/lib/keylime
# Mount configuration directory
Volume=/etc/ochami/keylime:/etc/keylime:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
