[Unit]
Description=The acme-register container
After=step-ca.service

[Container]
ContainerName=badger.openchami.cluster

HostName=acme-register

Image=ghcr.io/openchami/acme.sh:v0.2.2


# Volumes
Volume=step-root-ca.volume:/root_ca/:ro
Volume=acme-certs.volume:/root/.acme.sh


# Environemnt Variables
Environment=SYSTEM_NAME=badger
Environment=SYSTEM_DOMAIN=openchami.cluster






# Networks for the Container to use
Network=ochami-cert-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false
PodmanArgs=--entrypoint='["/bin/sh", "-c", "/usr/bin/acme.sh --server https://step-ca:9000/acme/acme/directory --ca-bundle /root_ca/root_ca.crt -d badger.openchami.cluster --issue --standalone --force"]'

[Service]
Restart=on-failure
Type=oneshot

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
