[Unit]
Description=The bss-init container
After=postgres.service

[Container]
ContainerName=bss-init

HostName=bss-init

Image=ghcr.io/openchami/bss:v1.30.5




# Environemnt Variables
Environment=BSS_USESQL=true
Environment=BSS_INSECURE=true
Environment=BSS_DBHOST=postgres
Environment=BSS_DBPORT=5432
Environment=BSS_DBNAME=bssdb
Environment=BSS_DBUSER=bss-user

# Secrets
Secret=bss_postgres_password,type=env,target=BSS_DBPASS





# Networks for the Container to use
Network=ochami-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false
PodmanArgs=--entrypoint='["/bin/sh", "-c", "/usr/local/bin/bss-init"]'

[Service]
Restart=on-failure
Type=oneshot

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
