[Unit]
Description=The bss container
After=postgres
After=smd
After=bss-init
After=opaal

[Container]
ContainerName=bss

HostName=bss

Image=ghcr.io/openchami/bss:v1.30.5




# Environemnt Variables
Environment=BSS_USESQL=true
Environment=BSS_INSECURE=true
Environment=BSS_DEBUG=true
Environment=BSS_DBHOST=postgres
Environment=BSS_DBPORT=5432
Environment=BSS_DBNAME=bssdb
Environment=BSS_DBUSER=bss-user
Environment=BSS_JWKS_URL=http://opaal:3333/keys
Environment=BSS_OAUTH2_ADMIN_BASE_URL=http://opaal:3333
Environment=BSS_OAUTH2_PUBLIC_BASE_URL=http://opaal:3333
Environment=BSS_IPXE_SERVER=badger.openchami.cluster
Environment=BSS_CHAIN_PROTO=https

# Secrets
Secret=bss_postgres_password,type=env,target=BSS_DBPASS





# Networks for the Container to use
Network=ochami-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
