[Unit]
Description=The dnsmasq-loader container
After=haproxy.service

[Container]
ContainerName=dnsmasq-loader

HostName=dnsmasq-loader

Image=ghcr.io/openchami/dnsmasq-loader:v0.1.10


# Volumes
Volume=/etc/ochami/configs/dnsmasq:/configs/:rw
Volume=dnsmasq-hostsfiles.volume:/etc/dnsmasq/site/hosts/:rw
Volume=dnsmasq-optsfiles.volume:/etc/dnsmasq/site/opts/:rw
Volume=step-root-ca.volume:/root_ca/:ro


# Environemnt Variables
Environment=OCHAMI_BASEURL=https://badger.openchami.cluster:8443
Environment=CURL_CA_BUNDLE=/root_ca/root_ca.crt
Environment=OCHAMI_BOOTSCRIPT_BASEURL=http://192.168.7.252:8081
Environment=node_prefix=ba








# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
