[Unit]
Description=The haproxy container
After=opaal-idp.service
After=opaal.service
After=smd.service
After=bss.service

[Container]
ContainerName=haproxy

HostName=haproxy

Image=cgr.dev/chainguard/haproxy


# Volumes
Volume=/etc/ochami/configs/:/usr/local/etc/haproxy/:ro
Volume=haproxy-certs.volume:/etc/haproxy/certs/:ro

# Ports
PublishPort=8081:80
PublishPort=8443:443







# Networks for the Container to use
Network=ochami-external.network
Network=ochami-internal.network
Network=ochami-jwt-internal.network

# Health Checks
# Health Check Command
HealthCmd='["haproxy", "-c", "-f", "/usr/local/etc/haproxy/haproxy.cfg"]'
# Health Check Interval
HealthInterval=10s
# Health Check Retries
HealthRetries=5
# Health Check Timeout
HealthTimeout=10s

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
