[Unit]
Description=The hydra-migrate container

[Container]
ContainerName=hydra-migrate

HostName=hydra-migrate

Image=oryd/hydra:v2.2.0-rc.3


# Volumes
Volume=/etc/ochami/configs/:/etc/config/hydra



# Secrets
Secret=hydra_system_secret,type=env,target=SYSTEMS_SECRET
Secret=hydra_postgres_password,type=env,target=HYDRA_POSTGRES_PASSWORD
Secret=hydra_dsn,type=env,target=DSN




# Command to run in container
Exec=migrate -c /etc/config/hydra/hydra.yml sql -e --yes

# Networks for the Container to use
Network=ochami-internal.network


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=on-failure
Type=oneshot

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
