[Unit]
Description=The hydra container
After=hydra-migrate

[Container]
ContainerName=hydra

HostName=hydra

Image=oryd/hydra:v2.2.0-rc.3


# Volumes
Volume=/etc/ochami/configs/:/etc/config/hydra


# Environemnt Variables
Environment=SYSTEM_NAME=badger
Environment=SYSTEM_DOMAIN=openchami.cluster
Environment=URLS_SELF_ISSUER=https://badger.openchami.cluster/
Environment=URLS_SELF_PUBLIC=https://badger.openchami.cluster/
Environment=URLS_LOGIN=https://badger.openchami.cluster/login
Environment=URLS_CONSENT=https://badger.openchami.cluster/consent
Environment=URLS_LOGOUT=https://badger.openchami.cluster/logout

# Secrets
Secret=hydra_system_secret,type=env,target=SYSTEMS_SECRET
Secret=hydra_dsn,type=env,target=DSN




# Command to run in container
Exec=serve -c /etc/config/hydra/hydra.yml all --sqa-opt-out

# Networks for the Container to use
Network=ochami-jwt-internal.network

# Health Checks
# Health Check Command
HealthCmd='["wget", "--spider", "-q", "http://hydra:4444/health/alive"]'
# Health Check Interval
HealthInterval=10s
# Health Check Retries
HealthRetries=10
# Health Check Timeout
HealthTimeout=10s

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
