[Unit]
Description=The opaal container
After=hydra.service
After=opaal-idp.service

[Container]
ContainerName=opaal

HostName=opaal

Image=ghcr.io/openchami/opaal:v0.3.8


# Volumes
Volume=/etc/ochami/configs:/opaal/config/







# Command to run in container
Exec=/opaal/opaal login --config /opaal/config/opaal.yaml

# Networks for the Container to use
Network=ochami-internal.network
Network=ochami-jwt-internal.network

# Health Checks
# Health Check Command
HealthCmd='["curl", "--fail", "--silent", "http://opaal:3333/keys"]'
# Health Check Interval
HealthInterval=5s
# Health Check Retries
HealthRetries=60
# Health Check Timeout
HealthTimeout=10s

# Unsupported by generator options
# Extra hosts
PodmanArgs=--add-host='badger.openchami.cluster:10.1.0.3'
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
