[Unit]
Description=The opaal-idp container

[Container]
ContainerName=opaal-idp

HostName=opaal-idp

Image=ghcr.io/openchami/opaal:v0.3.8


# Volumes
Volume=/etc/ochami/configs:/opaal/config/







# Command to run in container
Exec=/opaal/opaal serve --config /opaal/config/opaal.yaml

# Networks for the Container to use
Network=ochami-jwt-internal


# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
