[Unit]
Description=The smd container
After=postgres
After=smd-init
After=opaal

[Container]
ContainerName=smd

HostName=smd

Image=ghcr.io/openchami/smd:v2.15.2




# Environemnt Variables
Environment=SMD_DBHOST=postgres
Environment=SMD_DBPORT=5432
Environment=SMD_DBNAME=hmsds
Environment=SMD_DBUSER=smd-user
Environment=SMD_DBOPTS=sslmode=disable
Environment=SMD_JWKS_URL=http://opaal:3333/keys

# Secrets
Secret=smd_postgres_password,type=env,target=SMD_DBPASS





# Networks for the Container to use
Network=ochami-internal.network

# Health Checks
# Health Check Command
HealthCmd='["curl", "--fail", "--silent", "http://localhost:27779/hsm/v2/service/ready"]'
# Health Check Interval
HealthInterval=5s
# Health Check Retries
HealthRetries=60
# Health Check Timeout
HealthTimeout=10s

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
