[Unit]
Description=The step-ca container

[Container]
ContainerName=step-ca

HostName=step-ca

Image=ghcr.io/openchami/local-ca:v0.2.2


# Volumes
Volume=step-ca-home.volume:/home/step
Volume=step-ca-db.volume:/home/step/db
Volume=step-root-ca.volume:/root_ca/


# Environemnt Variables
Environment=STEPPATH=/home/step
Environment=DOCKER_STEPCA_INIT_NAME=OpenCHAMI
Environment=DOCKER_STEPCA_INIT_DNS_NAMES=localhost,step-ca
Environment=DOCKER_STEPCA_INIT_ACME=true






# Networks for the Container to use
Network=ochami-cert-internal.network

# Health Checks
# Health Check Command
HealthCmd='["step", "ca", "health"]'
# Health Check Interval
HealthInterval=10s
# Health Check Retries
HealthRetries=5
# Health Check Timeout
HealthTimeout=10s

# Unsupported by generator options
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
