
version: "3.7"
services:
  hydra:
    image: oryd/hydra:v2.2.0-rc.3
    container_name: hydra
    hostname: hydra
    healthcheck:
        test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:4444/health/alive"]
        interval: 10s
        timeout: 10s
        retries: 10
    ports:
      - "4444:4444" # Public port
      - "4445:4445" # Admin port
      - "5555:5555" # Port for hydra token user
    command: serve -c /etc/config/hydra/hydra.yml all --dev
    volumes:
      - type: bind
        source: ./configs/hydra
        target: /etc/config/hydra
    environment:
      - DSN=postgres://hydra-user:${HYDRA_POSTGRES_PASSWORD}@postgres:5432/hydradb?sslmode=disable&max_conns=20&max_idle_conns=4
    restart: unless-stopped
    depends_on:
      hydra-migrate:
        condition: service_completed_successfully
    networks:
      - internal
  # Hydra has a race condition that prevents more than one service from requesting
  # the JWKS in a close interval: doing so will cause hydra to generate the JWKS twice,
  # changing the key(s) used to verify valid JWTs and thus cause them to be unauthorized.
  # To prevent this, this container does it first and services that need to request
  # the JWKS must rely on this service completing.
  hydra-gen-jwks:
    image: curlimages/curl:latest
    container_name: hydra-gen-jwks
    hostname: hydra-gen-jwks
    command:
      - 'curl'
      - '--retry'
      - '10'
      - '--retry-delay'
      - '5'
      - '--retry-all-errors'
      - '--verbose'
      - 'http://hydra:4444/.well-known/jwks.json'
    depends_on:
      hydra:
        condition: service_healthy
    networks:
      - internal
  hydra-migrate:
    image: oryd/hydra:v2.2.0-rc.3
    container_name: hydra-migrate
    hostname: hydra-migrate
    environment:
      - DSN=postgres://hydra-user:${HYDRA_POSTGRES_PASSWORD}@postgres:5432/hydradb?sslmode=disable&max_conns=20&max_idle_conns=4
    command: migrate -c /etc/config/hydra/hydra.yml sql -e --yes
    volumes:
      - type: bind
        source: ./configs/hydra
        target: /etc/config/hydra
    restart: on-failure
    networks:
      - internal
  consent:
    environment:
      - HYDRA_ADMIN_URL=http://hydra:4445
    image: oryd/hydra-login-consent-node:v2.2.0-rc.3
    container_name: consent
    hostname: consent
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - internal
