version: '3.7'

## Because hardcoding passwords is bad, we use openssl to generate a random password
## and store it in a .env file.  This file is not checked into git, so it is not
## shared with anyone else.  This is a temporary solution until we can use docker secrets.
## The generate-creds.sh script performs the following commands.
# echo "POSTGRES_PASSWORD=$(openssl rand -base64 32)" > .env
# echo "SMD_POSTGRES_PASSWORD=$(openssl rand -base64 32)" >> .env
# echo "BSS_POSTGRES_PASSWORD=$(openssl rand -base64 32)" >> .env
# echo "HYDRA_POSTGRES_PASSWORD=$(openssl rand -base64 32)" >> .env


networks:
  internal:
  external:
    external: true

volumes:
  postgres-data:

services:
  postgres: # Postgres
    image: postgres:11.5-alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ochami
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} # Set in .env file for now.
      POSTGRES_MULTIPLE_DATABASES: hmsds:smd-user:${SMD_POSTGRES_PASSWORD},bssdb:bss-user:${BSS_POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./pg-init:/docker-entrypoint-initdb.d
    networks:
      - internal
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "ochami", "-U", "ochami"]
      interval: 10s
      timeout: 10s
      retries: 5
###
# SMD Init and Server Containers
###
  # sets up postgres for SMD data
  smd-init:
    container_name: smd-init
    image: ghcr.io/openchami/smd:v2.13.6
    environment:
      - SMD_DBHOST=postgres
      - SMD_DBPORT=5432
      - SMD_DBUSER=smd-user
      - SMD_DBPASS=${SMD_POSTGRES_PASSWORD} # Set in .env file
      - SMD_DBNAME=hmsds
      - SMD_DBOPTS=sslmode=disable
    hostname: smd-init
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal
    entrypoint:
      - /smd-init 
  # SMD 
  smd:
    container_name: smd
    image: ghcr.io/openchami/smd:v2.13.6
    environment:
      - SMD_DBHOST=postgres
      - SMD_DBPORT=5432
      - SMD_DBUSER=smd-user
      - SMD_DBPASS=${SMD_POSTGRES_PASSWORD} # Set in .env file
      - SMD_DBNAME=hmsds
      - SMD_DBOPTS=sslmode=disable
    hostname: smd
    depends_on:
      - postgres
      - smd-init
    ports:
      - "27779:27779"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:27779/hsm/v2/service/ready"]
      interval: 5s
      retries: 60
      start_period: 20s
      timeout: 10s
    networks:
      - internal
###
# BSS Init and Server Containers
###
# sets up postgres for BSS data
  bss-init:
    hostname: bss-init
    container_name: bss-init
    image: ghcr.io/openchami/bss:v1.28.1
    environment:
      - BSS_USESQL=true
      - BSS_INSECURE=true
      - BSS_DBHOST=postgres
      - BSS_DBNAME=bssdb
      - BSS_DBPORT=5432
      - BSS_DBUSER=bss-user
      - BSS_DBPASS=${BSS_POSTGRES_PASSWORD} # Set in .env file
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - internal
    entrypoint:
      - /usr/local/bin/bss-init
  # boot-script-service
  bss:
    hostname: bss
    container_name: bss
    image: ghcr.io/openchami/bss:v1.28.1
    environment:
      - BSS_USESQL=true
      - BSS_INSECURE=true
      - BSS_DBHOST=postgres
      - BSS_DBNAME=bssdb
      - BSS_DBPORT=5432
      - BSS_DBUSER=bss-user
      - BSS_DBPASS=${BSS_POSTGRES_PASSWORD} # Set in .env file
    ports:
      - '27778:27778'
    depends_on:
      - postgres
      - bss-init
      - smd
    networks:
      - internal
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:27778/boot/v1"]
      interval: 5s
      timeout: 10s
      retries: 60
  dnsmasq:
    hostname: dnsmasq-dhcp
    container_name: dnsmasq-dhcp
    image: ghcr.io/openchami/dnsmasq:dyanmic-test 
    environment:
      - smd_endpoint=172.16.0.253
      - bss_endpoint=172.16.0.253
    ports: 67/UDP
    depends_on:
      - bss
      - smd
    network_mode: "host"
    #TODO I'd rather not run this privileged, but dhcpd really likes opening privilged ports and the like
    privileged: true
    networks: 
      - internal
    healthcheck: 
      test: pgrep dnsmasq
      interval: 5s
      timeout: 10s
      retries: 60

